# app
NODE_ENV=development
APP_PORT=5000

# cors
CORS_WHITELIST=http://localhost:8080

# API PREFIX URL
APP_PREFIX=/api/v1

# Timezone
TIMEZONE_DEFAULT='+09:00'
TIMEZONE_DEFAULT_NAME=Asia/Tokyo

# logging
LOG_ENABLE_LOG_TO_FILE=false
LOG_ROOT_FOLDER=logs/winston
LOG_MAX_FILES=10
LOG_MAX_SIZE=10000000
LOG_LEVEL=info

# database
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=Ab@123456
POSTGRES_DATABASE=starslive
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_SSL_ENABLED=false
POSTGRES_SSL_CA='POSTGRES_SSL_CA'
POSTGRES_SSL_REJECT_UNAUTHORIZED=false
POSTGRES_MAX_CONNECTIONS=50
POSTGRES_CONNECTION_IDLE_TIMEOUT=30000
POSTGRES_STATEMENT_TIMEOUT=10000
POSTGRES_LOCK_TIMEOUT=5000
POSTGRES_IDLE_IN_TRANSACTION_SESSION_TIMEOUT=60000

#jwt - authentication
JWT_ACCESS_TOKEN_SECRET_KEY=jwt-private
JWT_ACCESS_TOKEN_EXPIRED_IN=1000000
JWT_REFRESH_TOKEN_SECRET_KEY=jwt-refresh-private
JWT_REFRESH_TOKEN_EXPIRED_IN=10000000

# AWS
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
CLOUD_FRONT_URL=

